.site-header {
	position: sticky;
	top:0;
	z-index: 9999;
}
a,a:visited {
	text-decoration: none;
}
.main-navigation {
	position: relative;
	z-index: 1000;
	background-color: $color__navigation_bg;
	display: block;
	height: 80px;
	width: 100%;
	.burger {
		width: 40px;
		height: 20px;
		cursor: pointer;
		position: absolute;
		right: 0;
		margin: 28px 28px 0 0;
		z-index: 1001;
		span {
			width: 100%;
			height: 4px;
			background-color: #000;
			display: block;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			transition: background-color 0.5s ease-in-out;
			&::before, &::after {
				content: '';
				position: absolute;
				width: 100%;
				height: 4px;
				background-color: #000;
				transition: transform 0.5s ease-in-out;
			}
			&::before {
				transform: translateY(-10px);
			}
			&::after {
				transform: translateY(10px);
			}
		}
		&.active span {
			background-color: transparent;
			&::before {
				transform: translateY(0) rotateZ(45deg);
			}
			&::after {
				transform: translateY(0) rotateZ(-45deg);
			}
		} 
	}
	.site-title {
		display: block;
		font-family: $font__titles;
		font-size: 21.5px;
		position: absolute;
		top: 20px;		
		width: 100%;
		text-align: center;
	}
	.logo_menu {
		content: url("./assets/images/menu/logo_menu.png");
		width: 160px;
		height: 100px;
	}
	.orchid_menu {
		content: url('./assets/images/menu/orchid.png');
		position: absolute;
		top: 67px;
		left: -70px;
	}
	.cat-1_menu {
		content: url('./assets/images/menu/cat-1.png');
		position: absolute;
		top: 134px;
		left: 307px;
	}
	.sunflower_menu {
		content: url('./assets/images/menu/sunflower.png');
		position: absolute;
		top: 32px;
		left: 1040px;
	}
	.random-flower_menu {
		content: url('./assets/images/menu/random-flower.png');
		position: absolute;
		top: 360px;
		left: 1390px;
	}
	.flower_menu {
		content: url('./assets/images/menu/flower.png');
		position: absolute;
		top: 433px;
		left: 233px;
	}
	.cat-2_menu {
		content: url('./assets/images/menu/cat-2.png');
		position: absolute;
		top: 440px;
		left: 1076px;
	}
	.cat-3_menu {
		content: url('./assets/images/menu/cat-3.png');
		position: absolute;
		top: 670px;
		left: 79px;
	}
	.hibiscus_menu {
		content: url('./assets/images/menu/hibiscus.png');
		position: absolute;
		top: 500px;
		left: 1100px;
		top: 530px;
	}
	ul {
		margin: 0;
		padding: 40px 0 0 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		position: absolute;
		top: -900px;
		background-color: #FFF5E9;
		width: 100%;
		height: 850px;
		overflow: hidden;
		li {
			position: relative;
			font-size: 64px;
			list-style: none;
			animation: $animation-scale;
			:hover {
				color: black;
				text-shadow: 1px 1px 10px #FF5C00;
			}
		}
		p {
			padding-top: 80px;
		}
	}
}

nav.active ul {
	top: 80px;
	animation: $animation-fade;
}

@media all and (max-width: #{$breakpoint__tablet}) {

	.main-navigation ul {
		width: 100vw;
		li {
			font-size: 32px;
		}
	}
}

@media all and (max-width: #{$breakpoint__small_tablet}) {
	.main-navigation ul {
		div {
			display: none;
		}
		li {
			font-size: 24px;
		}
	}
}

@media all and (max-width: #{$breakpoint__large_phone}) {
	.main-navigation .site-title {
		top: 10px;
		width: 80%;
	}
	.banner {
		min-height: 600px;
	}
	.story h3 {
		font-size: 25px;
	}
	h2 {
		font-size: 2rem;
	}
	.oscars img {
		width: 100%;
	}
}
