@keyframes fade-up {
    from {
      transform: translateY(150px);
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
}
$animation-fade-up: fade-up 2s ease-in-out forwards;


@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* Rotation lente */
$animation-rotation: rotation 20s linear infinite;
/* Rotation rapide */
$animation-rotation-rapide: rotation 5s linear infinite;



@keyframes scale {
  from {
    transform: scale(1);
  }
  50% {
    transform: scale(0.90);
  }
  to {
    transform: scale(1);
  }
}
$animation-scale: scale 5s 1s ease-in-out alternate 2;


@keyframes translate {
  from {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-300px);
  }
  to {
    transform: translateX(0);
  }
}    
$animation-translate: translate 12s ease-in-out alternate;


@keyframes flottement {
  from {
    transform: translate(0, 0,);
  }
  40% {
    transform: translate(15px, 5px);
  }
  60% {
    transform: translate(5px, 15px);
  }
  to {
    transform: translate(0, 0);
  }
}
$animation-flottement: flottement 3s linear alternate infinite;