@import "../animations/animation.scss";

.reveal {
  transform: translateY(200px);
  opacity: 0;
}

.reveal-loaded {
  animation: $animation-fade-up;
}

.animation-translate {
  animation: $animation-translate;
}

.animation-scale {
  animation: $animation-scale;
} 

.animation-rotation-lente {
  animation: $animation-rotation-lente;
}

.animation-rotation-rapide {
  animation: $animation-rotation-rapide;
}


.banner {
  // background-image: url("./assets/images/banner.png");
  min-height: 806px;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  img {
    position: relative;
    margin-top: -10%;
    width: 50%;
    animation: $animation-flottement;
  }
}

#background-video {
  position: absolute;
  top: 48px;
}

.story {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: $animation-fade-up;
  &__flower {
    &::before {
      content: url('./assets/images/sunflower_leaves.png');
      position: absolute;
      left: 0;
      top: 7.5em;
      z-index: -1;
    }
    &::after {
      content: url('./assets/images/Sunflower.png');
      position: absolute;
      left: 3em;
      top: 26em;
    }
  }
  &__flower2 {
    &::before {
      content: url('./assets/images/hibiscus_leaves.png');
      position: absolute;
      left: 52%;
      top: 10em;
      z-index: -1;
    }
    &::after {
      content: url('./assets/images/Hibiscus.png');
      position: absolute;
      left: calc(52% + 414px);
      top: 4em;
    }
  }

  &__article {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 50%;
    font-size: 15px;
    padding-bottom: 2em;
    background-color: $color__background-body;
  }

  #characters {
    margin: 6em;
    display: flex;
    text-align: center;
    h3 {
      background-image: url("./assets/images/orange_characters_bg.png");
    }
    div {
      flex: 1
    }
    .other-characters {
      display: flex;
      flex-wrap: wrap;
      figure {
        width: 50%;
        padding: 2% 10%;
        margin: 0;
      }
    }
  }
  #place {
    display: flex;
    justify-content: space-around;
    background-image: url("./assets/images/Studio_Koukaki-image_place.png");
    width: 100%;
    min-height: 699px;
    background-size: cover;
    h3 {
      background-image: url("./assets/images/orange_place_bg.png");
      margin-bottom: -1em;
    }
    > div {
      max-width: 620px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      margin-left: 6em;
      p {
        padding-left: 5em;
      }
    }
    .blue-cloud {
      display: flex;
      background-image: url("./assets/images/clouds.png");
      margin-left: 100px;
      width: 100%;
      height: 304px;
      margin: 30px 50px 0 0;
    }
  }
}


#studio {
  position: relative;
  margin-top: 3em;
  animation: $animation-fade-up;
  .studio__flower {
    &::before {
      content: url('./assets/images/random_flower.png');
      position: absolute;
      left: -5em;
      top: 0;
    }
    &::after {
      content: url('./assets/images/flower.png');
      position: absolute;
      right: 1em;
      top: 1.2em;
    }
  }
  > .studio__p {
    display: flex;
    justify-content: space-between;
    width: 66.66%;
    margin: auto;
    &::before {
      content: url('./assets/images/trple-leaf.png');
      position: absolute;
      left: calc(50% - 17.225px);
      top: 40%;
    }
    p{
    width: 44.5%;
    }
  }
}

@media all and (max-width: #{$breakpoint__laptop}) {
  .story {
    &__article {
      &::before {
        left: 40%;
        top: 8em;
      }
      &::after {
        left: calc(40% + 414px);
        top: 2em;
      }
    }
  }
}

@media all and (max-width: #{$breakpoint__tablet}) {
  .story {
    &__article {
      &::before {
        left: 33%;
        top: 15em;
      }

      &::after {
        content: url('./assets/images/Hibiscus.png');
        position: absolute;
        left: calc(33% + 414px);
        top: 9em;
      }
    }
    #characters {
      flex-direction: column;
    }
  }
}

@media all and (max-width: #{$breakpoint__small_tablet}) {
  .story {
    h2{
      &::before {
        content: '';
      }

      &::after {
        content: '';
      }
    }
    &__article {
      width: 80%;
      &::before {
        content: '';
      }

      &::after {
        content: '';
      }
    }
    #characters {
      flex-direction: column;
    }
    #place {
      > div {
        margin: auto;
        width: 75%;
      }
    }
  }
  #studio {
    h2 {
      &::after {
        content: '';
      }
    }
    > div {
      &::before {
        content: '';
      }
      flex-direction: column;
      p {
        width: 100%;
      }
    }
  }
}

@media all and (max-width: #{$breakpoint__large_phone}) {
  #studio {
    h2 {
      &::before{
        content: '';
      }
    }
  }

}